name: Release
on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - name: Build for linux
        env:
          GOOS: linux
          GOARCH: amd64
        run: |
          go mod download
          go build -v -o gomdtoc-linux-amd64

      - name: Build for windows
        env:
          GOOS: windows
          GOARCH: amd64
        run: go build -v -o gomdtoc-win-amd64.exe

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |-
            gomdtoc-linux-amd64
            gomdtoc-win-amd64.exe